.main-content {
    width: 100%;
    padding: 20px 10px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.main-content .admixture-background {
    width: 100%;
    display: inline-block;
    background: url('../images/gene-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 100%;
}

.main-content .admixture-background .admixture-part {
    width: 100%;
    padding: 0 10px;
    padding-bottom: 100px;
    background: transparent;
    box-sizing: border-box;
}

.main-content .admixture-background .admixture-part .title {
    font-size: 24px;
    color: #bf5640;
    text-align: center;
    line-height: 2em;
    height: 65px;
    background: url('../images/han-1.png');
    background-repeat: no-repeat;
    background-position: 50% 140%;
    background-size: 140px 40px;
    margin: 20px 0;
}

#admixture {
    width: 100%;
    height: 500px;
}

@media (min-width:768px) {
    .main-content {
        padding: 20px 40px;
        padding-bottom: 80px;
    }
}

@media (min-width:992px) {}

@media (min-width:1200px) {
    .main-content {
        width: 1170px;
        margin: 0 auto;
        padding: 20px 0px;
        padding-bottom: 80px;
    }
}